@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    color:#ababab;
    scroll-behavior: smooth;
    /* cursor: none; */
    /* overflow-x: hidden;
    overflow-y:hidden; */
    padding:0;
    margin:0;
}
body{
    /* background-color: #151515; */
    opacity: 0;
    background-color:#151515;
    transition: background-color 2s ease-in-out;
    /* max-width: 80%; */
}


#cursor-circle {
    /* making sure that circle can be anywhere on the webpage so absolute positioning :thumbs up: */
    position: absolute;
    /* same width and height to create a square and then turn it into a circle later on. */
    width: 13rem;
    height: 13rem;
    border-radius: 50%; /* smooth the square into a circle */
    background: rgb(122,154,240);
    background: radial-gradient(circle, rgba(122,154,240,0.25) 0%, rgba(205,122,240,0.1) 40%, rgba(23,23,23,0) 60%);
    transform: translate(-50%, -50%); /* center this stupid circle to the middle of the cursor because it will be ugly without it. subtracting width and height to make it centered. */
    z-index: -1;
    overflow: hidden;
}
